{% extends "base.html" %}
{% load static %}

{% block content %}
    <main>
        <img src="/media/freerange-hens.jpg" alt="free range chickens" class="hero-img">
        <h1>West of Ireland Live Poultry</h1>
        <div class="container-fluid mb-5 d-flex flex-column">
            <p class="home-intro mx-5">Find top quality laying hens, ducks or broilers here at Chripy Chooks.<br>
            Choose from our colourful range of layers or raise your own meat birds. 
            Food tastes better when you know where it comes from and raising chickens is a rewarding 
            activity for people of all ages.<br>
            Need advice on poultry keeping before or after getting your feathery friends?
            Head over to our forum to ask or answer questions, share a review or a funny chicken story.<br>
            Delivery available throughout Counties Limerick, Clare and Galway.
            </p>
            <a href="{% url 'categories' %}" class="shop-now-btn mx-5 align-self-start">Buy Live Poultry</a>
        </div>
    </main>
{% endblock %}