{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <h1>My profile</h1>
        <div class="row">
            <div class="col-12 col-lg-6 p-3">
                <p class="mt-4"><strong>Default Delivery Info</strong> for {{ profile }}:</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="auth-btn">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-6 p-3">
                <p class="mt-4"><strong>Order History</strong></p>
                {{ orders }}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'profiles/js/profile.js' %}"></script>
{% endblock %}