{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <h1>Checkout</h1>
    <div class="container checkout-container">
        <div class="order-summery">
            <h2>Order Summery</h2>
            <table class="table table-borderless">
                    <thead>
                        <tr class="border-bottom border-secondary">
                            <th scope="col"></th>
                            <th colspan="2" scope="colgroup">Product</th>
                            <th class="text-end" scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in basket_items %}
                        <tr>
                            <td class="w-25">
                                <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.breed }}">
                            </td>
                            <td colspan="2">
                                <strong>{{ item.product.breed }}</strong>
                                <br>
                                Qty: {{ item.quantity }}
                            </td>
                            <td class="text-end">€ {{ item.product.price | calc_subtotal:item.quantity }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="border-top border-secondary">
                        <td colspan="4" class="text-end">
                            <strong>Basket Total: € {{ total | floatformat:2 }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-end">
                            Delivery Cost: € {{ delivery | floatformat:2 }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2" class="text-end border-top border-secondary"></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-end">
                            <strong>Grand Total: € {{ grand_total | floatformat:2 }}</strong>
                        </td>
                    </tr>
                </table>
        </div>
        <form action="#" method="POST" id="payment-form">
            {% csrf_token %}
            <fieldset class="mb-4">
                <legend>Personal Details</legend>
                {{ order_form.full_name | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
            </fieldset>
            <fieldset class="mb-4">
                <legend>Delivery Information</legend>
                {{ order_form.phone_number | as_crispy_field }}
                {{ order_form.postcode | as_crispy_field }}
                {{ order_form.town_or_city | as_crispy_field }}
                {{ order_form.street_address1 | as_crispy_field }}
                {{ order_form.street_address2 | as_crispy_field }}
                {{ order_form.county | as_crispy_field }}
                <div class="form-check form-check-inline float-right mr-0">
                    {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save delivery information to profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                    {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a href="{% url 'account_signup' %}">Create an account</a> or 
                            <a href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                    {% endif %}
                </div>
            </fieldset>
            <fieldset class="mb-4">
                <legend>Payment Details</legend>
                <!-- Pre-defined Stripe elements -->
                <div id="card-element"></div>
                <div id="card-error" class="text-danger" role="alert"></div>
            </fieldset>
            <div class="submit-button text-right mt-5 mb-2">                    
                <a href="{% url 'basket' %}" class="btn back-to-basket-btn">
                    <span class="font-weight-bold">Edit Basket</span>
                </a>
                <button id="submit-button" class="btn pay-now-btn">
                    <span class="font-weight-bold">Pay now</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </button>
                <p class="small text-danger my-0">
                    <span class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                </p>
			</div>
        </form>
    </div>
{% endblock %}