{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'forum/css/forum.css' %}">
{% endblock %}

{% block content %}
    <h1>Forum</h1>
    <div class="mt-5 border-bottom d-flex justify-content-between">
        <h2 class="">{{ entry.title }}</h2>
        <div class="type-label btn btn-colour-bg">{{ entry.entry_type }}</div> 
    </div>
    <div class="row entry-content mt-5">
        <div class="col-12 col-md-4">
            {% if entry.image %}
                <img class="entry-image" src="{{ entry.image.url }}" alt="{{ entry.image.url }}">
            {% else %}
                <img class="entry-image" src="{{ MEDIA_URL }}noimage.png" alt="cartoon chicken">
            {% endif %}
        </div>
        <div class="col-12 col-md-8">
            <p>{{ entry.content }}</p>
        </div>
    </div> 
     {% if request.user.is_superuser %}
        <small>
            <a href="{% url 'edit_entry' entry.slug %}">Edit</a> | 
            <a class="text-danger" href="{% url 'delete_entry' entry.slug %}">Delete</a>
        </small>
    {% endif %}
{% endblock %}