<form class="form update-form" id="deliveryForm" method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
        <div class="form-check py-2">
            <input class="form-check-input float-none border-3 border-info p-2" 
                   type="checkbox" 
                   value="" 
                   id="deliveryCheckbox"
                   onclick="handleDeliveryCharge()">
            <label class="form-check-label fs-5" for="deliveryCheckbox">
                Home Delivery
            </label>
        </div>
        <p class="lh-1">
            <small><strong>Note: </strong>We only offer delivery to customers based in counties <strong>Clare, Limerick or Galway</strong>! <br>
            Please see <a href="{% url 'about' %}">About</a> for more information on delivery and pick-up.</small>
        </p>
    </div>
</form>

<script type="text/javascript">
    // handle ticking checkbox like form submit

    function handleDeliveryCharge() {
        let deliveryCheckbox = document.getElementById("deliveryCheckbox");

        let deliveryCostEl = document.getElementById("basketDeliveryCost");
        let updatedDeliveryCostEl = document.getElementById("updatedbasketDeliveryCost")
        let grandTotalEl = document.getElementById("basketGrandTotal");
        let updatedGrandTotalEl = document.getElementById("updatedBasketGrandTotal");

        if (deliveryCheckbox.checked) {
            deliveryCostEl.classList.add("d-none")
            updatedDeliveryCostEl.classList.remove("d-none")
            grandTotalEl.classList.add("d-none");
            updatedGrandTotalEl.classList.remove("d-none");
        } else {
            deliveryCostEl.classList.remove("d-none");
            updatedDeliveryCostEl.classList.add("d-none");
            grandTotalEl.classList.remove("d-none");
            updatedGrandTotalEl.classList.add("d-none");
        }
    }

</script>
