/* Google Fonts: font-family: 'Pacifico', cursive;
                 font-family: 'Varela Round', sans-serif; */

:root {
    --primary-color: #FED049;
    --primary-color-dark: #ffbf00;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* General styling */

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
}

h1 {
    font-weight: 800;
    margin-top: 1em;
}

p {
    line-height: 2;
    font-size: 1.2rem;
}


/* User authentication pages (sign up, login, logout) */

.auth-container {
    max-width: 600px;
}

.auth-btn {
    color: #000;
    background-color: var(--primary-color-dark);
    padding: .4em;
    margin: .5em 0;
    border: none;
    border-radius: 4px;
}


/* Header and Navigation styling */

.header-banner {
    margin: 1.8em;
}

.banner-info>* {
    margin: 0 .5em;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 2.25rem;
    color: #000;
}

.navbar-nav,
.dropdown-item {
    background-color: var(--primary-color);
}

.navbar {
    padding: 0;
}

.nav-item,
.dropdown-item {
    padding: .3em .8em;
    border: 1px var(--primary-color-dark) solid;
    flex: 1;
    text-align: center;
}

.nav-item:hover {
    background-color: var(--primary-color-dark);
}

.nav-link {
    color: #000;
    font-size: 1.3rem;
}

.nav-link:hover {
    color: #000;
    font-weight: 600;
}

.dropdown-menu {
    padding: 0;
    max-width: 260px;
    margin: 0 auto;
}

.dropdown-item:hover {
    color: #000;
    font-weight: 600;
    background-color: var(--primary-color-dark);
}

.navbar-toggler {
    border: 1px solid rgb(65, 65, 65);
    margin-left: 2em;
}

/* Home page styling */

.hero-img {
    /* 
    break image out of parent container
    source code: https://gomakethings.com/how-to-break-an-image-out-of-its-parent-container-with-css/#:~:text=.full%2Dwidth%20%7B%0A%09left%3A%2050%25%3B%0A%09margin%2Dleft%3A%20%2D50vw%3B%0A%09margin%2Dright%3A%20%2D50vw%3B%0A%09max%2Dwidth%3A%20100vw%3B%0A%09position%3A%20relative%3B%0A%09right%3A%2050%25%3B%0A%09width%3A%20100vw%3B%0A%7D
    */
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.shop-now-btn,
.basket-form-btn {
    color: #000;
    background-color: var(--primary-color-dark);
    text-decoration: none;
    font-size: 2rem;
    padding: .5em;
    border-radius: 4px;
}

.shop-now-btn:hover,
.basket-form-btn:hover,
.auth-btn:hover {
    color: #000;
    background-color: var(--primary-color);
}

.shop-now-btn:active,
.basket-form-btn:active,
.auth-btn:active {
    transform: scale(1.05);
    transition: ease-in-out;
}


/* Categories/Products page styling */

.card-container,
.detail-container {
    max-width: 1100px;
    margin: 0 auto;
}

.category-card,
.product-card {
    width: fit-content;
    border: solid 2px var(--primary-color-dark);
    border-radius: 4px;
    margin: 0 1.5em 1.5em 0;
}

.category-link,
.product-link {
    min-height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.category-img,
.product-img {
    padding: 1em 0;
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

.category-link-title,
.product-link-title {
    color: #000;
    text-align: center;
    font-weight: 600;
    margin-top: auto;
}

/* Product detail page styling */

.detail-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start
}

.detail-img {
    max-width: 280px;
    display: block;
    margin: 0 auto;
}

.detail-list {
    font-size: 1.3rem;
    line-height: 2;
}

.basket-form-btn {
    border: none;
    font-size: 1.2rem;
}

/* Shopping basket styling */

.basket-img {
    width: 15%;
    margin-right: 2rem;
}

.decrement-qty,
.increment-qty {
    padding: 0 .5em;
    margin: 0;
}

.qty_input {
    max-width: 25%;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* Footer styling */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    background-color: var(--primary-color);
}

.social-media-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.social-icon {
    font-size: 2.5rem;
}

.newsletter-toggle-container {
    display: none;
}

.newsletter-toggle {
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

/* Bootstrap Toast styling */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
}

/* Mailchimp newsletter styling */

#mc_embed_signup {
    background: transparent;
    clear: left;
    font: .6rem Helvetica, Arial, sans-serif;
    max-width: 500px;
}

#mc_embed_signup h2 {
    font-size: .8rem;
    margin: .2em;
}

#mc_embed_signup form {
    margin: .5em .5em 0 0;
}

#mc_embed_signup .button {
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    font-size: .6rem;
    line-height: 1;
    padding: .2em .7em;
}

#mc_embed_signup .button:hover {
    color: #000;
    background-color: #fff;
}

.mailchimp-logo {
    max-width: 60px;
}


/* MEDIA QUERIES */

@media (max-width: 767px) {

    /* Product detail page styling */
    .detail-container {
        flex-direction: column;
    }

    /* Footer styling */
    footer {
        flex-direction: column;
        padding: .6rem 0;
    }

    /* Newsletter signup */
    .newsletter-toggle-container {
        display: block;
    }

    #mc_embed_signup {
        display: none;
    }
}

@media (max-width: 470px) {
    :root {
        font-size: 14px;
    }

    /* Basket styling */
    .basket-form-btn {
        font-size: .8rem;
    }
}