/* Google Fonts: font-family: 'Pacifico', cursive;
                 font-family: 'Varela Round', sans-serif; */

:root {
    --primary-color: #FED049;
    --primary-color-dark: #ffbf00;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* General styling */

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
}

h1 {
    margin: 1.2em 1.6em;
    font-weight: 800;
}

p {
    line-height: 2;
    font-size: 1.2rem;
    margin: 0 3.5em 1.5em 3.5em;
}

/* Header and Navigation styling */

.header-banner {
    margin: 1.8em;
}

.banner-info>* {
    margin: 0 .5em;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 2.25rem;
    color: #000;
}

.navbar-nav,
.dropdown-item {
    background-color: var(--primary-color);
}

.navbar {
    padding: 0;
}

.nav-item,
.dropdown-item {
    padding: .3em .8em;
    border: 1px var(--primary-color-dark) solid;
    flex: 1;
    text-align: center;
}

.nav-item:hover {
    background-color: var(--primary-color-dark);
}

.nav-link {
    color: #000;
    font-size: 1.3rem;
}

.nav-link:hover {
    color: #000;
    font-weight: 600;
}

.dropdown-menu {
    padding: 0;
    max-width: 260px;
    margin: 0 auto;
}

.dropdown-item:hover {
    color: #000;
    font-weight: 600;
    background-color: var(--primary-color-dark);
}

.navbar-toggler {
    border: 1px solid rgb(65, 65, 65);
    margin-left: 2em;
}

/* Home page styling */

.hero-img {
    width: 100%;
}

.shop-now-btn {
    color: #000;
    background-color: var(--primary-color-dark);
    text-decoration: none;
    font-size: 2rem;
    padding: .5em;
    margin: .5em 0;
    border-radius: 4px;
}

.shop-now-btn:hover {
    color: var(--primary-color-dark);
    background-color: #000;
}

.shop-now-btn:active {
    transform: scale(1.05);
    transition: ease-in-out;
}


/* Categories/Products page styling */

.card-container {
    max-width: 1100px;
    margin: 0 auto;
}

.category-card,
.product-card {
    width: fit-content;
    border: solid 2px var(--primary-color-dark);
    border-radius: 4px;
    margin: 0 1.5em 1.5em 0;
}

.category-link,
.product-link {
    min-height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.category-img,
.product-img {
    padding: 1em 0;
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

.category-link-title,
.product-link-title {
    color: #000;
    text-align: center;
    font-weight: 600;
    margin-top: auto;
}

/* Footer styling */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    background-color: var(--primary-color);
}

.social-media-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.social-icon {
    font-size: 2.5rem;
}

.newsletter-toggle-container {
    display: none;
}

.newsletter-toggle {
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

/* Mailchimp newsletter styling */

#mc_embed_signup {
    background: transparent;
    clear: left;
    font: .6rem Helvetica, Arial, sans-serif;
    max-width: 500px;
}

#mc_embed_signup h2 {
    font-size: .8rem;
    margin: .2em;
}

#mc_embed_signup form {
    margin: .5em .5em 0 0;
}

#mc_embed_signup .button {
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    font-size: .6rem;
    line-height: 1;
    padding: .2em .7em;
}

#mc_embed_signup .button:hover {
    color: #000;
    background-color: #fff;
}

.mailchimp-logo {
    max-width: 60px;
}


/* MEDIA QUERIES */

@media (max-width: 767px) {

    /* Footer styling */
    footer {
        flex-direction: column;
        padding: .6rem 0;
    }

    /* Newsletter signup */
    .newsletter-toggle-container {
        display: block;
    }

    #mc_embed_signup {
        display: none;
    }
}

@media (max-width: 470px) {
    :root {
        font-size: 14px;
    }
}