.order-summery {
    float: right;
    width: 35%;
    margin-left: 3em;
}

.back-to-basket-btn,
.pay-now-btn:hover {
    border: 2px solid var(--primary-color);
    margin-right: 2em;
}


.pay-now-btn,
.back-to-basket-btn:hover {
    background-color: var(--primary-color);
}

.pay-now-btn:hover {
    background-color: transparent;
}

.btn:hover {
    font-weight: 600;
}

@media (max-width: 990px) {
    .order-summery {
        float: none;
        width: 100%;
        margin: 0;
    }
}