{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>{{ current_category }}</h1>
    <p>General info about layers goes here, i.e. age, etc</p>
    <div class="container-fluid">
        <div class="row d-flex justify-content-evenly card-container">
            {% for product in products%}
                <div class="product-card">
                    <a href="{% url 'product_detail' product.id %}" class="product-link">
                        {% if product.image %}
                            <img class="product-img" src="{{ product.image.url }}" alt="{{ product.breed }}">
                        {% else %}
                            <img class="product-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.breed }}">
                        {% endif %}
                        <h2 class="product-link-title">{{ product.breed }}</h2>
                    </a>
                </div>
            {% endfor %}
       </div>
    </div>
{% endblock %}